@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header{
    padding: 40px 0;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;   
     }
}
.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        padding-left: 35px;
    }
    &__list-link{
       color: $title;
       padding-bottom:0 2px 1px; 
       @extend %roboto-400;
       &:hover{
        color: $accent;
        border-bottom: 1px solid $accent;
        transition: all .3s;
        @extend %roboto-700;
       }            
    }
    &__list-link--active{
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }
}
.user-nav{
    display: flex;
    
    &__link + .user-nav__link{
    padding-left: 25px;
    position: relative
    }
    &__num{
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        color: #fff;
        line-height: 20px;
        text-align: center;
    }

}





.footer{
    background-color: $bg;
}
.footer-top{
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    &__contact{
        width: 250px;
        margin-right: 50px;
    }
    &__nav{
        width: 170px;
        margin-right: 30px;

    }
    &__item-form{
        max-width: 470px;
    }
    &__logo{
        margin-bottom: 33px; 
        display: block;
    }
    &__address,
    &__email,
    &__phone{
        margin-bottom: 14px;
        display: block;
    }
    &__social{
        display: flex;
        margin-top: 30px;
        align-items: center;
    }
    &__link{
     path{
        fill: $default;
    }
    &:hover{
        path{
            fill: $accent;
        }
    }
    }     
    &__list + .footer-top__list{
        padding-left: 18px;
    }
    &__title{
        color: $title;
        @extend %roboto-500;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 35px;
    }
    &__link{
        margin-bottom: 14px;
    }
    &__text{
        margin-bottom: 25px;
    }
    &__form-input{
        background-color: #fff;
        border: none;
        padding: 12px 10px 12px 15px;
        max-width: 320px;
        width: 100%;
        box-shadow: 0px 7px 20px 0px rgba(192, 192, 192, 0.3);
        &::placeholder{
        font-size: 16px;
        color: $default;
        }
    }
    &__form-btn{
        border: none;
        background: $accent;
        color: #fff;
        @extend %roboto-400;
        text-transform: uppercase;
        padding: 12px 25px;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);
        cursor: pointer;
    }
}
.footer-botton{
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    &__accept-img{
        display: inline;
        margin-left: 25px;
        vertical-align: middle;
    }
}
  
    

@import "media";
